
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    width: auto;
    font-family: 'Lato', sans-serif, serif;
    font-size: medium;
    margin: 0 0;
  }

  nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    gap: 3rem;
    background: black;
    height: 60px;
    width: auto;
  }
  
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    background-color: rgb(131, 131, 216);
    gap: 3rem; 
    height: 120px
  }
  header h1{
    padding-left: 15px;
  }
  

  main{
    height: 50vh;
    margin: 15px 15px;
  }
 
  

 /*--------------Footer----------------------*/ 
  footer {
    background: black;
    color: white;
    margin-top: 35px;
    text-align: center;
    padding: 5px;
    font-family: 'Lato', sans-serif, serif;
    font-size: 15px; 
  }
